<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>burger judge controller</title>
    <link rel="stylesheet" href="static/css/index.css">
    <script  src="static/js/index.js"></script>
</head>
<body>

  <div class="reset">
      <input type="button" class="btn-square" value="RESET judge" onclick="reset();">
  </div>

    <div class="name">
      blue
      <input id="blue_name" type="text" name="blue_name" value="blue" size="8" placeholder="bar" >
       red
      <input id="red_name" type="text" name="red_name" value="red" size="8" placeholder="foo" >
        <br>

      <input type="button" class="btn-square" value="SET UP" onclick="setting();">
  </div>

  <div class="ready">
      <input type="button" class="btn-square" value="Be READY robo" onclick="ready();">
  </div>

  <div class="running">
      <input type="button" class="btn-square" value="set RUNNING" onclick="running();">
  </div>

</body>
</html>