<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>burger judge controller</title>
    <script  src="static/js/index.js"></script>
</head>
<body>
  <div class="running">
      <input type="button" class="btn-square" value="SET STATE RUNNING" onclick="running();">
  </div>
  <div class="reset">
      <input type="button" class="btn-square" value="RESET JUDGE STATUS" onclick="reset();">
  </div>
  <form id="name">
     Name
    <div class="name">
      blue
      <input id="blue_name" type="text" name="blue_name" value="blue" placeholder="bar" >
       red
      <input id="red_name" type="text" name="red_name" value="red" placeholder="foo" >
    </div>
  </form>
  <div class="setting">
      <input type="button" class="btn-square" value="SETTING" onclick="setting();">
  </div>

</body>
</html>