<launch>

  <!-- camera -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_default.launch" />

  <!-- qr reader -->
  <node pkg="onigiri_war" type="qrReader.py" name="qr_reader" output="screen"/>

  <!-- send to judge server -->
  <node pkg="onigiri_war" type="sendQrToJudge.py" name="send_qr_to_judge" output="screen"/>

  <!-- robot controller -->
  <include file="$(find navi_param)/rulo_navi.launch" />
  <node pkg="onigiri_war" type="point_run.py" name="point_run" output="screen"/>

</launch>
