<launch>

<arg name="debug_view" default="true"/>

<!-- camera -->
  <!-- realsense -->
  <!--
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" />
  -->
  <!-- usb camera -->
  <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node"/>

<!-- ar reader -->
  <node pkg="ros_aruco" type="ros_aruco" name="ros_aruco" output="screen">
    <remap from="image_raw" to="image_raw"/>
    <param name="camera_param_path" value="$(find ros_aruco)/data/ost.yaml" type="str"/>
    <param name="debug_view" value="$(arg debug_view)" type="bool"/>
  </node>


<!-- send target ID to judge server -->
  <node pkg="onigiri_war" type="sendIdToJudge.py" name="send_id_to_judge" output="screen">
    <param name="judge_url" value="http://127.0.0.1:5000/submits" />
    <param name="player_name" value="roborobo" />
    <param name="side" value="r" />
  </node>

<!-- robot controller -->
  <!-- wall run -->
  <!--
  <include file="$(find navi_param)/rulo_navi.launch" />
  <node pkg="onigiri_war" type="opt_run.py" name="opt_run" output="screen"/>
  -->
</launch>

