<?xml version="1.0"?>
<!--
simple test launch
only (world, robot_spawn , run)
-->

<launch>
<!-- make world -->
  <arg name="world_file"  default="$(find onigiri_war)/world/onigiri_field.world"/>
  <arg name="gui" default="true"/>
  <arg name="record" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="recording" value="$(arg record)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>


<!-- blue side robot -->
  <group ns="blue_bot">
      <!-- spawn the robot -->
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ccr_simulator)/ccr/onigiri_b.urdf -urdf -x 0.0 -y 2.0 -z 0.0 -Y -1.57 -model blue_bot"/>

      <!-- run node -->
      <node pkg="onigiri_war" type="wallRun.py" name="wallRun" output="screen"/>
  </group>
</launch>
