<?xml version="1.0"?>
<launch>

<!-- blue side robot -->
  <group ns="blue_bot">
      <!-- enemy bot run -->
      <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
        <arg name="robot_name" value="blue_bot" />
      </include>
  </group>

<!-- red side robot -->
  <group ns="red_bot">
      <!-- Your robot control node run -->
      <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
        <arg name="robot_name" value="red_bot" />
      </include>
  </group>

</launch>

