<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default=""/>
  <!-- You can change control program  -->


  <include file="$(find burger_navigation)/launch/burger_navigation.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>


    <!-- End of your space  -->
</launch>

