<launch>
<!-- reamp topic name -->
  <remap from="/Rulo/cmd_vel" to="/cmd_vel"/>

<!-- set manual -->
  <node pkg="rostopic" type="rostopic" name="manual_set" args="pub /mobile_base/command/mode std_msgs/String 'manual'" output="screen"/>

<!-- camera -->
  <!-- realsense -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" />
  <!-- usb camera -->
  <!--
  <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node"/>
  -->

<!-- Lidar -->
  <!-- Start Lidar -->
  <include file="$(find navi_param)/lg_lidar/laser.launch" />

  <!-- Start TF publisher -->
  <include file="$(find navi_param)/lg_lidar/tf_laser.launch" />

<!-- ar reader -->
  <node pkg="ros_aruco" type="ros_aruco" name="ros_aruco" output="screen">
    <remap from="image_raw" to="/camera/rgb/image_raw"/>
    <param name="camera_param_path" value="$(find ros_aruco)/data/ost.yaml" type="str"/>
    <param name="debug_view" value="false" type="bool"/>
  </node>

<!-- send target ID to judge server -->
  <node pkg="burger_war" type="sendIdToJudge.py" name="send_id_to_judge" output="screen">
    <param name="judge_url" value="http://127.0.0.1:5000" />
    <param name="player_name" value="roborobo" />
    <param name="side" value="r" />
  </node>
</launch>

