<?xml version="1.0"?>
<launch>

<!-- blue side robot -->
  <group ns="blue_bot">
      <!-- enemy bot run -->
      <node pkg="burger_war" type="enemy.py" name="enemyRun" output="screen"/>
  </group>

<!-- red side robot -->
  <group ns="red_bot">
      <!-- Your robot control node run -->
      <include file="$(find burger_war)/launch/your_burger.launch">
        <arg name="robot_name" value="red_bot" />
      </include>
  </group>

</launch>

