<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->


    <!-- sample program node -->

    <node pkg="burger_war" type="randomRun.py" name="randomRun" output="screen"/>

    <!-- END sample program node -->


    <!-- End of your space  -->
</launch>

