<?xml version="1.0"?>
<launch>
  <arg name="bot_name" default=""/>
    <!-- You can change control program  -->




    <!-- sample program node -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch">
    <!-- END sample program node -->




    <!-- End of your space  -->
</launch>

